@charset "utf-8";
$color:#61A474; // 主色调
$tips_color: #FF7575;
$color_orange: #FFA21A;
$color_hover:lighten($color,40%);
$color_ce: #000;
$color_b:#4089FF; // 副色调
$color_tool: #941A0B;
$lighten_color:lighten($color,20%);  // 主色调-亮
$darken_color:darken($color,20%); // 主色调-暗
$font_color:#21323B;
$font_color_sm:#BBC0C3;
$font_color_min:#A6ADB1;
//comment ellipsis
@mixin ellipsis() {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//comment transition
@mixin transition($s:0.3s,$type:all,$speed:ease,$delay:0){
  @if unitless($s){
    $s:$s*1s;
  }
  @if unitless($delay){
    $delay:$delay*1s;
  }
  transition:$type $s $speed $delay;
  -webkit-transition:$type $s $speed $delay;
  -moz-transition:$type $s $speed $delay;
  -o-transition:$type $s $speed $delay;
}
//comment opacity
@mixin opacity($op:0.8){
  $opcen:$op*100;
  filter:alpha(opacity=$opcen);
  -moz-opacity:$op;
  -khtml-opacity:$op;
  opacity: $op;
}
//comment inline-block
@mixin dib() {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
//comment clearfix
@mixin clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
    height: 0;
    overflow: hidden;
  }
  *zoom:1;
}
//comment minheight
@mixin minHeight($min-height) {
  min-height: $min-height;
  height: auto !important;
  height: $min-height;
}
//comment box-shadow
@mixin boxShadow($shadow...){
  box-shadow: $shadow;-webkit-box-shadow:$shadow;-moz-box-shadow:$shadow
}
//comment transform
@mixin transform($rotate...){
  transform: $rotate;
  -webkit-transform: $rotate;
  -moz-transform: $rotate;
  -ms-transform: $rotate;
}
@mixin transformStyle($st:preserve-3d){
  -webkit-transform-style: $st; /*使其子类变换后得以保留 3d转换后的位置*/
  -moz-transform-style: $st;
  -ms-transform-style: $st;
  -o-transform-style: $st;
  transform-style:$st;
}
//comment border-radius
@mixin radiusCorners ($amount:5px) {
  border-radius: $amount;
  -webkit-border-radius:$amount;
  -moz-border-radius: $amount;
}
//comment border-radius-vert-horz 写半径用的
@mixin rounded($vert, $horz, $radius: 10px) {
  border-#{$vert}-#{$horz}-radius: $radius;
  -moz-border-radius-#{$vert}#{$horz}: $radius;
  -webkit-border-#{$vert}-#{$horz}-radius: $radius;
}
//comment font
@mixin font($f:14px,$lh:1,$fs:'',$fan:''){
  @if unitless($f){
    $f:$f*1px
  }
  @if $fs!=''{
    font-weight: $fs;
  }
  @if $fan!=''{
    font-family: $fan !important;
  }
  font-size: $f;  line-height: $lh;
}
//comment text-shaw
@mixin textShadow($size:1,$color:#fff){
  $sizePx:$size*1px;
  $sizePx2:$size*-1px;
  -webkit-text-shadow:$color $sizePx 0 0,$color 0 $sizePx 0, $color $sizePx2 0 0,#fff 0 $sizePx2 0;
  -moz-text-shadow:$color $sizePx 0 0,$color 0 $sizePx 0,$color $sizePx2 0 0,$color 0 $sizePx2 0;
  text-shadow:$color $sizePx 0 0,#fff 0 $sizePx 0,$color $sizePx2 0 0,$color 0 $sizePx2 0;
  *filter: Glow(Color=$color, Strength=$size);
}
//comment 两端布局
@mixin justify($inlnew:32%,$justifyw:100%,$item:li){
  text-align: justify;display: inline-block;width: $justifyw;
  #{$item}{display:inline-block;width: $inlnew;}
  &:after{content: '';display: inline-block;width: 100%}
}
//comment block100
@mixin block($w:auto,$h:auto){
  width: $w;
  height: $h;
  display: block;
}
//comment flexbox
@mixin flexBox{
  display: box;              /* OLD - Android 4.4- */
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}
//comment flex-align
@mixin flexAlign($value:center){
  -webkit-justify-content:$value;
  -webkit-align-items:$value;
  -webkit-box-pack: $value;
  -webkit-box-align: $value;
  align-items:$value;
  justify-content:$value;
}
//comment flex对齐方式
@mixin flexDirection($dirs:column,$dirss:vertical){
  @if $dirs==column {
    $dirss:vertical;
  } @else {
    $dirss:horizontal;
  }
  -webkit-box-orient: $dirss;
  -webkit-flex-direction: $dirs;
  -moz-flex-direction: $dirs;
  -ms-flex-direction: $dirs;
  -o-flex-direction: $dirs;
  flex-direction: $dirs;
}
//comment flex
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
//comment absolute50
@mixin absolute50($ml,$mt,$ll:50%,$tt:50%){
  left: $ll;top: $tt;position: absolute;margin-left: $ml;margin-top: $mt;
}

//  black and white opacity
@function color_black($opacity){ @return rgba(0,0,0,$opacity) }
@function color_white($opacity){ @return rgba(255,255,255,$opacity) }

@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

// 背景图片
@mixin bg-image($url,$type:1,$size:cover) {
  @if($type:1) {
    background-repeat: no-repeat;
    background-position: center;
  }
  background-image: url($url + "@2x.png");
  background-size: $size;
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    background-image: url($url + "@3x.png")
  }
}
@mixin filters-gradient($gradient) {
  background: -webkit-linear-gradient($gradient);
  background: -moz-linear-gradient($gradient);
  background: linear-gradient($gradient);
}
